<head>
	<!-- Basic Page Needs -->
	<meta charset="utf-8">
	<title>Ask me – Responsive Questions and Answers Template</title>
	<meta name="description" content="Ask me Responsive Questions and Answers Template">
	<meta name="author" content="2code.info">
	
	<!-- Mobile Specific Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<!-- Main Style -->
	<link rel="stylesheet" href="~/Content/style.css">
	<!-- Skins -->
	<link rel="stylesheet" href="~/Content/skins.css">
	<!-- Responsive Style -->
	<link rel="stylesheet" href="~/Content/responsive.css">
    <!--Other Styles-->
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/prettyPhoto.css" rel="stylesheet" />
    <link href="~/Content/fontello.css" rel="stylesheet" />
    <link href="~/Content/lists.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/base.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
	<!-- Favicons -->
	<link rel="shortcut icon" href="http://2code.info/demo/html/ask-me/images/favicon.ico">
  
</head>




<div class="panel-pop" id="lost-password">
		<h2>Lost Password<i class="icon-remove"></i></h2>
		<div class="form-style form-style-3">
			<p>Lost your password? Please enter your username and email address. You will receive a link to create a new password via email.</p>
			<form>
				<div class="form-inputs clearfix">
					<p>
						<label class="required">Username<span>*</span></label>
						<input type="text">
					</p>
					<p>
						<label class="required">E-Mail<span>*</span></label>
						<input type="email">
					</p>
				</div>
				<p class="form-submit">
					<input type="submit" value="Reset" class="button color small submit">
				</p>
			</form>
			<div class="clearfix"></div>
		</div>
	</div>

<header id="header">
		<section class="container clearfix">
			<div class="logo"><a href="~/Home/index"><img alt="" src="~/images/mylogo.png"></a></div>
			<nav class="navigation">
				<ul>
					<li class="current_page_item"><a href="~/User/your_posts">Your Posts</a></li>
					@*<li class="ask_question"><a href="~/Home/ask_question">Add Post</a></li>*@                        
					<li><a href="~/User/your_ads">Your Ads</a></li>
                    <li><a href="~/User/add_post">Add Post</a></li>
                    <li><a href="~/User/return_me">Return Me</a></li>
                    <li><a href="~/User/buy_sell">Buy/Sell</a></li> 
                    <li><a href="~/Home/logout">Logout</a></li>
                    @*<li><a href="~/User/contact_us">Contact Us</a></li>*@
				</ul>
			</nav>
		</section><!-- End container -->
	</header>