<head>
	<!-- Basic Page Needs -->
	<meta charset="utf-8">
	<title>Ask me – Responsive Questions and Answers Template</title>
	<meta name="description" content="Ask me Responsive Questions and Answers Template">
	<meta name="author" content="2code.info">
	
	<!-- Mobile Specific Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<!-- Main Style -->
	<link rel="stylesheet" href="~/Content/style.css">
	<!-- Skins -->
	<link rel="stylesheet" href="~/Content/skins.css">
	<!-- Responsive Style -->
	<link rel="stylesheet" href="~/Content/responsive.css">
    <!--Other Styles-->
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/prettyPhoto.css" rel="stylesheet" />
    <link href="~/Content/fontello.css" rel="stylesheet" />
    <link href="~/Content/lists.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/base.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
	<!-- Favicons -->
	<link rel="shortcut icon" href="http://2code.info/demo/html/ask-me/images/favicon.ico">
  
</head>




<div class="panel-pop" id="lost-password">
		<h2>Lost Password<i class="icon-remove"></i></h2>
		<div class="form-style form-style-3">
			<p>Lost your password? Please enter your username and email address. You will receive a link to create a new password via email.</p>
			<form>
				<div class="form-inputs clearfix">
					<p>
						<label class="required">Username<span>*</span></label>
						<input type="text">
					</p>
					<p>
						<label class="required">E-Mail<span>*</span></label>
						<input type="email">
					</p>
				</div>
				<p class="form-submit">
					<input type="submit" value="Reset" class="button color small submit">
				</p>
			</form>
			<div class="clearfix"></div>
		</div>
	</div>

<header id="header">
		<section class="container clearfix">
			<div class="logo"><a href="~/Home/index"><img alt="" src="~/images/mylogo.png"></a></div>
			<nav class="navigation">
				<ul>
					<li class="current_page_item"><a href="~/Home/index">Home</a>
						@*<ul>
							<li class="current_page_item"><a href="~/Home/index">Home</a></li>
							<li><a href="~/Home/index_2">Home 2</a></li>
							<li><a href="~/Home/index_boxed_1">Home Boxed 1</a></li>
							<li><a href="~/Home/index_boxed_2">Home Boxed 2</a></li>
							<li><a href="~/Home/index_no_box">Home No Box</a></li>
						</ul>*@
					</li>
					@*<li class="ask_question"><a href="~/Home/ask_question">Add Post</a></li>*@                        
					@*<li><a href="~/Home/return_me">Return Me</a></li>
                    <li><a href="~/Home/buy_sell">Buy/Sell</a></li>*@
                    <li><a href="~/Home/return_me">Return Me</a></li>
                    <li><a href="~/Home/buy_sell">Buy/Sell</a></li> 
                    <li><a href="~/Home/login">login</a></li>
                    @*<li class="ask_question"><a href="~/Home/ask_question">Ask Question</a></li> *@
                    @*<li><a href="~/Home/cat_question">Questions</a>
						<ul>
							<li><a href="~/Home/cat_question">Questions Category</a></li>
							<li><a href="~/Home/single_question">Question Single</a></li>
							<li><a href="~/Home/single_question_poll">Poll Question Single</a></li>
						</ul>
					</li>*@
					@*<li><a href="~/Home/user_profile">User</a>
						<ul>
							<li><a href="~/Home/user_profile">User Profile</a></li>
							<li><a href="~/Home/user_questions">User Questions</a></li>
							<li><a href="~/Home/user_answers">User Answers</a></li>
							<li><a href="~/Home/user_favorite_questions">User Favorite Questions</a></li>
							<li><a href="~/Home/user_points">User Points</a></li>
							<li><a href="~/Home/edit_profile">Edit Profile</a></li>
						</ul>
					</li>*@
					@*<li><a href="~/Home/blog_1">Blog</a>
						<ul>
							<li><a href="~/Home/blog_1">Blog 1</a>
								<ul>
									<li><a href="~/Home/blog_1">Right sidebar</a></li>
									<li><a href="~/Home/blog_1_l_sidebar">Left sidebar</a></li>
									<li><a href="~/Home/blog_1_full_width">Full Width</a></li>
								</ul>
							</li>
							<li><a href="~/Home/blog_2">Blog 2</a>
								<ul>
									<li><a href="~/Home/blog_2">Right sidebar</a></li>
									<li><a href="~/Home/blog_2_l_sidebar">Left sidebar</a></li>
									<li><a href="~/Home/blog_2_full_width">Full Width</a></li>
								</ul>
							</li>
							<li><a href="~/Home/single_post">Post Single</a>
								<ul>
									<li><a href="~/Home/single_post">Right sidebar</a></li>
									<li><a href="~/Home/single_post_l_sidebar">Left sidebar</a></li>
									<li><a href="~/Home/single_post_full_width">Full Width</a></li>
								</ul>
							</li>
						</ul>
					</li>*@
					@*<li><a href="~/Home/right_sidebar">Pages</a>
						<ul>
							<li><a href="~/Home/login">Login</a></li>
							<li><a href="~/Home/contact_us">Contact Us</a></li>
							<li><a href="~/Home/ask_question">Ask Question</a></li>
							<li><a href="~/Home/right_sidebar">Right Sidebar</a></li>
							<li><a href="~/Home/left_sidebar">Left Sidebar</a></li>
							<li><a href="~/Home/full_width">Full Width</a></li>
							<li><a href="~/Home/p404">404</a></li>
						</ul>
					</li>*@
					@*<li><a href="~/Home/shortcodes">Shortcodes</a></li>*@
					<li><a href="~/Home/contact_us">Contact Us</a></li>
				</ul>
			</nav>
		</section><!-- End container -->
	</header>